{%extends '../master.html'%}
    {%block content%}
    <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Form</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item"><a href="#">FAQ Form</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">FAQ Form</h3>
            <div class="tile-body">
              <form method="POST" action="/admins/FAQ/update/"  id="myform" enctype="multipart/form-data">
                   {% csrf_token %}
                    <input type="hidden" name="txt0" value="{{faq.0}}">
                    <div class="form-group">
                    <label class="control-label">FAQ Question </label>
                    <input class="form-control" type="varchar" name="txt1" value="{{faq.1}}" placeholder="question" required>
                    </div>
                    <div class="form-group">
                     <label class="control-label">FAQ Answer</label>
                      <input class="form-control" type="varchar" name="txt2" value="{{faq.2}}" placeholder="answer" required>
                    </div>
                    <div class="tile-footer">
                      <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Update</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="reset"><i class="fa fa-fw fa-lg fa-check-circle"></i>Cancel</button>&nbsp;&nbsp;&nbsp;
                    </div>
              </form>
            </div>
          </div>
        </div>
    {%endblock%}