
{%extends '../master.html'%}
    {%block content%}
    <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> Form </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item"><a href="#">Booking Forms</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Booking Form</h3>
            <div class="tile-body">
              <form method="POST" action="/admins/booking/inserted/" id="myform" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label">Booking Status</label>
                  <input class="form-control" type="varchar" name="txt1" placeholder="Status" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Booking Master</label>
                  <input class="form-control" type="varchar" name="txt2" placeholder="Master" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Booking Time</label>
                    <input class="form-control" type="time" name="txt3" placeholder="Time" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Booking Date</label>
                    <input class="form-control" type="date" name="txt4" placeholder="Date" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Booking Duration</label>
                    <input class="form-control" type="time" name="txt5" placeholder="Duration" required>
                </div>
                <div class="form-group">
                  <label class="control-label">Booking Address</label>
                  <input class="form-control" type="varchar" name="txt6" placeholder="Address" required>
              </div>
                <div class="form-group">
                    <label class="control-label">User</label>
                    <select  class="form-control"  name="txt7">
                      {% for i in user %}
                      <option value='{{i.0}}'>{{i.1}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Product</label>
                    <select  class="form-control"  name="txt8">
                      {% for i in product %}
                      <option value='{{i.0}}'>{{i.1}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Product Cost</label>
                  <input class="form-control" type="text" name="txt9" placeholder="Cost" required>
              </div>
                <div class="tile-footer">
                  <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>&nbsp;&nbsp;&nbsp;<!--a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a-->
                </div>
                <!--div class="form-group">
                  <label class="control-label">Image</label>
                  <input class="form-control" type="file">
                </div-->
              </form>
            </div>
          </div>
        </div>
    {%endblock%}